# ==========================================
# 1. Angular & Compilação
# ==========================================
/dist
/tmp
/out-tsc
/bazel-out
/.angular
/.sass-cache
/coverage
/typings
__screenshots__/

# ==========================================
# 2. Dependências & Gerenciadores de Pacotes
# ==========================================
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# ==========================================
# 3. Arquivos de Ambiente & Segredos
# ==========================================
.env
.env.*
!.env.example
src/environments/environment.local.ts
src/environments/environment.development.local.ts

# ==========================================
# 4. IDEs e Editores de Texto
# ==========================================
# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# WebStorm / IntelliJ / JetBrains
.idea/
*.iws
*.iml
*.ipr

# Eclipse / outros
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Vim / Emacs
*.swp
*~

# ==========================================
# 5. Arquivos do Sistema Operacional
# ==========================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# ==========================================
# 6. Testes & Outros
# ==========================================
/connect.lock
/libpeerconnection.log
testem.log